html{
    background-color: rgb(218, 218, 218);
}
#contenedor{
    margin-left:auto;
    margin-right: auto; 
    display: flex;
    flex-wrap: wrap;
    max-width: 720px;
    height: auto;
    background-color: cadetblue; 
}
#menu{
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    height: 50px;
    background-color: brown;
}
#banner{
    width: 100%;
    height: 150px;
    background-color: rgb(161, 113, 78);
}
#contenido{
    width: 75%;
    height: 400px;
    background-color: rgb(117, 168, 66);
}
#admin_articulos{
    width: 25%;
    height: 400px;
    background-color: rgb(73, 71, 150);
}
#pie_pagina{
    width: 100%;
    height: 150px;
    background-color: rgb(82, 80, 80); 
}

.tamaño{
    height: 100%;
    width: 50px;
    background-color: darkgoldenrod;
    margin-left: 2px;
}