/*----------------------------------------FONT------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*---------------------------------------COLORES----*/
/* computador-pc */
@media only screen and (max-width: 1680px) {
   /* -------------------------------------MENU----- */
#Bemvindo_logo, #sair, #flecha{
    display: none;
}
   #menu{
    /* z-index: 1; */
    /* border-top-left-radius: 20px;*/
    list-style: none;
    display: flex;
    justify-content: center;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    /* background-color:var(--azulm); */
    background-color:var(--verde);
    max-width: 1024px;
    height: 50px;
}  
#menu ul{
    margin-right: 40px;
    margin-left: 90px;
    padding: 0;
}
#menu li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
} 
#LogoPeque{
    width: 150px;
    text-align: right;
   color: var(--azulcc);
}
#menu a{
    text-decoration: none;
    color: var(--azulcc);
}
#menu a:hover{
   color:var(--azulff);
   /* font-weight: 600; */
}
#azul{
    width: 100%;
    height: 2px;
    background-color: var(--azulm);
}
/* ------------------------------------NAVEGADOR----- */
#navegador{
    margin-top: 5%;
    max-width: 1024px;
    /* padding-top: 5%; */
    background-color: var(--azulc); 
    height: 15rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: left;
    /* background-image: url('./img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100%; */
 }
 #navegador ul{
      width: 800px;
     text-align: left;
     padding-left: 2%;
 }
 #li_cachorros,#li_faza,#li_fale,#li_separacion1,#li_separacion2{
     vertical-align: text-top;
     display: inline-block;
     margin-left: 10px;
     font-weight: 500;
     font-size: 20px;
     color:var(--azulm);
     max-width: 20%;
     text-align: center;
 } 
 #logoGrande{
     font-size: 30px;
     padding-left: 3%;
 }
 #navegador a{
     text-decoration: none;
     color:var(--marron);
 }
 #navegador a:hover{
     color:var(--azulm);
     font-weight: 500;
  }
  }
/* tablet horizontal */
  @media only screen and (max-width: 1024px) {
    #menu{
       background-color:var(--rojo);
    }
    #Bemvindo{
        display: none;
    }
    #Bemvindo_logo{
        margin: 10px;
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: var(--azulc);
    }
    #sair{
        display: block;
    }
  }
/* table vertical */
  @media only screen and (max-width: 768px) {
    #menu{
        background-color:var(--naranja);
    }
    #menu ul{
        font-size: 16px;
        margin-right: 8px;
        margin-left: 1px;
        padding: 0;
    }
    #menu li{
        display: inline-block;
        margin-left: 2px;
        margin-right: 2px;
    } 
    #Bemvindo_logo{
        display: none;
    }
    #LogoPeque{
        width: 80px;
        text-align: left;
       color: var(--azulcc);
    }
    #logoGrande{
     display: none;
    }
    #navegador ul{
    width:100%;
       text-align: center;
       /* padding-left: 2%; */
       padding-right: 5%;
   }
   #li_cachorros,#li_faza,#li_fale,#li_separacion1,#li_separacion2{
    vertical-align: text-top;
    display: inline-block;
    margin-left: 10px;
    font-weight: 500;
    font-size: 20px;
    color:var(--azulm);
    max-width: 25%;
    text-align: center;
    } 
  }
 /* telefono horizontal */
  @media only screen and (max-width: 480px) {
    #menu{
        background-color:var(--marron);
    }
    #sair{
        display:none;
    }
    #menu ul{
        display: none;
    }
    #menu_lista{
        margin-top: 2%;
        margin-left: 30%;
        /* margin: 3%; */
        width: 30px;
        }
    .linea_Menu_lista{
        width: 30px;
        height: 4px;
        background-color: white;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    #LogoPeque{
        margin-right: 10px;
           width: 150px;
           text-align: right;
          color: var(--azulcc);
       }
       #li_faza, #li_fale,#li_separacion1,#li_separacion2{
           display: none;
       }
       #navegador{
        width:500px;
        margin-left: auto;
           margin-right: auto;
       }
       #navegador ul{
        width:70%;
           text-align: right;
           
          /* padding-left: 2%; */
           padding-right: 0;
       }
       #li_cachorros{
       font-size: 26px;
       max-width:170px;
       }
       #flecha{
           text-align: left;
           vertical-align: center;
           display: inline-block;
       }
      
  }
 /* telefono vertical */
  @media only screen and (max-width: 320px) {
    #menu{
        background-color:var(--azulm);
    }
    #menu ul{
        display: none;
    }
    #menu_lista{
        margin-top: 3%;
        margin-left: 20%;
        /* margin: 3%; */
        width: 30px;
        }
    .linea_Menu_lista{
        width: 30px;
        height: 4px;
        background-color: white;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    #sair{
        display:none;
    }
    #LogoPeque{
     margin-right: 10px;
        width: 150px;
        text-align: right;
       color: var(--azulcc);
    }
  }
:root {
    --verde:#0d491f;
    --rojo:#851b1b;
    --naranja:#b37614;
    --gris: #4f6d7a;
    --azulm: #4a6fa5;
    --azulc: #a8dadc;
    --azulcc:rgb(220, 242, 243);
    --azulf: #166088;
    --azulff: #07354e;
    --marron: #3d2c2e;
    }
    html{
    background-color: rgb(219, 219, 219);
    
    font-family: 'Roboto', sans-serif;
}


/* ----------------------------------CONTENEDOR----- */
#contenedor{
    /* border-radius: 20px; */
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    height: auto;
    background-color: var(--azulcc);
    display: flex;
    flex-wrap: wrap;
    box-shadow: 1px 1px 5px #000;
}

/* -------------------------------SEPARACION ENTRE TEMAS */
 .separacion{
    width: 2px;
    height: 100px;
    background-color:var(--marron);
}
/* --------------------------------------CONTENIDO----- */
#contenido_inicio{
   display: flex;
    width: 80%;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
}
#contenedordesc{
    width: 45%;
     height: auto;
     font-size: 16px;
     line-height: 25px;
     letter-spacing: 1px;
     margin-left: 2%;
 }
 #contenido_inicio img{
     width: 400px;
     height: 300px;
     border-radius: 10px;
 }
 #IMGdesc1{
     float: left;
    }
    #IMGdesc2{
    float: right;
    }
/* ------------------------------------PIE DE PAGINA---- */
#piePagina{
    background-color:var(--gris);
    width: 100%;
    height: 200px;
}
#piePagina p{
    /* margin: 0; */
}
/* ----------------------------------ARTICULOS/ADMIN------ */
#admin-articulo{
    width: 20%;
     text-align: center;
 }
 #admin-articulo p{
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0px;
    text-align: left;
}
#usuario, #senha{
       width: 230px;
       height: 30px;
   }
#entrar{
    width: 100px;
    height: 30px;
}
#admin{
    text-align: center;
}
#admin input{
    margin: 5px;
    border-radius: 5px;
}
#ImgArt{
    width: 250px;
    height: 150px;
}
